{{ define "index.html" }}
<html lang="en">

<head>
	<style>
		table {
			margin: 0 auto;
			font-size: large;
			border: 1px solid black;
			font-family: 'Courier';
		}

		h2 {
			text-align: center;
			color: #09253B;
			font-size: xx-large;
			font-family: 'Courier';
		}

		td {
			background-color: rgba(217, 3, 103, 0.3);
			border: 1px solid black;
		}

		th,
		td {
			font-weight: bold;
			border: 1px solid black;
			padding: 10px;
			text-align: center;
		}

		td {
			font-weight: lighter;
		}
	</style>

	<meta charset="UTF-8">
	<title>Fitness Challenge</title>

	<!-- INCLUDING JQUERY-->
	<script src="https://code.jquery.com/jquery-3.5.1.js">
	</script>
</head>

<body>
	<section>
		<h2>Fitness Challenge</h2>
		<table id="scoreboard">
			<tr>
				<th>Week</th>
				<th>Score</th>
				<th>Calories</th>
				<th>Activities</th>
			</tr>
		</table>
		<br/>
		<table id="scores">
			<tr>
				<th>Week</th>
				<th>ID</th>
				<th>Type</th>
				<th>Name</th>
				<th>Score</th>
				<th>Calories</th>
			</tr>
		</table>
	</section>
</body>

<script>
	$(document).ready(function () {
		$.getJSON("/scoreboard", function (data) {
			data.sort((a, b) => (a.week > b.week) ? 1 : -1)
			$.each(data, function (key, value) {
				var week = `<tr>
					<td>${value.week}</td>
					<td>${value.score}</td>
					<td>${value.calories}</td>
					<td>${value.activities.length}</td>
					</tr>`;
				$('#scoreboard').append(week);
				value.activities.sort((a, b) => (a.id > b.id) ? 1 : -1)
				$.each(value.activities, function (key, value) {
					var id = `<a href="https://www.strava.com/activities/${value.id}">` + value.id + `</a>`;
					var act = `<tr>
						<td>${value.week}</td>
						<td>${id}</td>
						<td>${value.type}</td>
						<td>${value.name}</td>
						<td>${value.score}</td>
						<td>${value.calories}</td>
						</tr>`;
					$('#scores').append(act);
				});
			});
		});
	});
</script>

</html>
{{ end }}
